<!-- app/views/requests/index.html.erb -->

<h1>Список Заявок</h1>
<p>Привет, <%= current_user.email %></p>
<table>
  <tr>
    <th>Заголовок</th>
    <th>Описание</th>
    <th>Статус</th>
    <th>Тип</th>
    <th>Ответственный</th>
    <th colspan="3"></th>
  </tr>

  <% @requests.each do |request| %>
    <tr>
      <td><%= request.title %></td>
      <td><%= request.description %></td>
      <td><%= Request.statuses[request.status].humanize %></td>
      <td><%= Request.request_types[request.request_type].humanize %></td>
      <td><%= "#{request.responsible_user.role.humanize} - #{request.responsible_user.email}" if request.responsible_user %></td>
      <td><%= link_to 'Показать', request, class: 'btn btn-primary' %></td>
      <td><%= link_to 'Изменить', edit_request_path(request), class: 'btn btn-primary' %></td>
      <td>
        <%= form_with(model: request, local: true, method: :delete, data: { confirm: 'Вы уверены?' }, class: 'delete-form') do |form| %>
          <%= form.submit 'Удалить', class: 'btn btn-primary' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= link_to 'Новая Заявка', new_request_path, class: 'btn btn-primary' %>

<%= link_to 'Мой профиль', user_path(current_user), class: 'btn btn-primary' %>
<%= form_tag destroy_user_session_path, method: :delete do %>
  <%= submit_tag 'Выйти', class: 'btn btn-primary' %>
<% end %>
