<!-- app/views/transfer_requests/new.html.erb -->

<h1>Передача заявки</h1>

<p>Привет, <%= current_user.email %> - <%= current_user.role.role_name%></p>

<%= form_tag request_transfer_requests_path(@request), method: :post do %>


    <div class="field role_wrap" id="role">
      <%= label_tag :role_id, 'Выберите роль:' %>
      <%= select_tag :role_id, options_from_collection_for_select(@roles, 'id', 'role_name', params[:role_id]), id: 'role-select' %>
    </div>


  <div class="field">
    <%= label_tag :target_user_id, 'Выберите пользователя:' %>
    <%= select_tag :target_user_id, options_for_select([]), prompt: 'Select User', id: 'user-select' %>
  </div>

  <%= hidden_field_tag :request_id, @request.id %>

  <%= submit_tag 'Передать', class: 'btn btn-primary' %>
<% end %>

<%= link_to 'Отмена', request_path(@request), class: 'btn btn-secondary' %>

<!-- app/views/transfer_requests/new.html.erb -->

<script>
  document.addEventListener('DOMContentLoaded', function () {
     var current_user = {
        role: {
          role_name: '<%= current_user.role.role_name %>'
        }
      };
    var role_name = current_user.role.role_name;
    var roleSelect = document.getElementById('role-select');
    var roleWrap = document.getElementById('role');
    var userSelect = document.getElementById('user-select');



    // Функция для обновления списка пользователей
    function updateUsers() {
      var selectedRoleId = role_name;
      var selectedOption = roleSelect.options[roleSelect.selectedIndex];

     

      if (selectedRoleId === "Менеджер") {
        if (selectedOption.text === "Первая линия") {
          selectedRoleId = 2;
        }
        if (selectedOption.text === "Вторая линия") {
          selectedRoleId = 3;
        } 
        if (selectedOption.text === "Третия линия") {
          selectedRoleId = 4;
        }
      } else {
         if (selectedRoleId === "Первая линия") {
         selectedRoleId = 3;
         roleWrap.style.display = "none";
          }
          if (selectedRoleId === "Вторая  линия") {
            selectedRoleId = 4;
            roleWrap.style.display = "none";
          } 
          if (selectedRoleId === "Третия  линия") {
            roleWrap.style.display = "none";
            selectedRoleId = 1;
          } 
      }
     

      console.log(selectedRoleId);
      console.log(selectedOption.text);

      // Запрос на сервер для получения пользователей этой роли
      fetch('/users_by_role.json?role_id=' + selectedRoleId)
        .then(response => response.json())
        .then(data => {
          // Очистка и обновление списка пользователей
          userSelect.innerHTML = '';
          data.forEach(function (user) {
            var option = document.createElement('option');
            option.value = user[0];
            option.text = user[1];
            userSelect.add(option);
          });
        });

           
    }

    // Обновление списка при изменении выбранной роли
    roleSelect.addEventListener('change', function () {
      updateUsers();
    });

    
    if (roleSelect.value) {
      updateUsers();
    }
 
  });
</script>
